DASH_PORT=3000

# DB.
DB_CONNECTION=mysql
# This should match the Database Service Name in the docker-compose.yml
DB_HOST=db
# This is your Local port (pick an open port), the Database container will open 3306 always
DB_PORT=3306
# Name of the Database to store information
DB_DATABASE=DataRoutingDB
DB_USERNAME=root # will change in prod for admin access.
DB_PASSWORD=your_password_here # any password doesn't matter locally (but does in prod).
DB_ROOT_PASSWORD=your_root_password_here


# Redis.
REDIS_PORT=6379
REDIS_HOST=localhost
REDIS_PASSWORD=password

# Whisper Endpoint
API_ENDPOINT_PORT=5000

