# Dashboard accessible env.

# App.
NEXT_PUBLIC_APP_NAME="LAS Router"
NEXT_PUBLIC_APP_FULL_NAME="Data Router System for Model Families"
NEXT_PUBLIC_APP_ENV=development
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_VERSION=0.0.1

# Reports.
NEXT_PUBLIC_REPORTS_DATA_SOURCE="DataRoutingDB.mariadb"

# DB.
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=DataRoutingDB
DB_USERNAME=root # will change in prod for admin access.
DB_PASSWORD=password # any password doesn't matter locally (but does in prod).

# AWS S3 Bucket.
AWS_ACCESS_KEY_ID="YOUR_ACCESS_KEY_ID"
AWS_SECRET_ACCESS_KEY="YOUR_SECRET_ACCESS_KEY"
AWS_REGION="us-east-1"
AWS_BUCKET_NAME="YOUR_BUCKET_NAME"

# Redis.
REDIS_PORT=6379
REDIS_HOST=localhost
REDIS_PASSWORD=password

# Whisper.
WHISPER_PORT=5000